@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");

.aboutBlock {
  display: flex;
  margin: -20px 70px;
  color: rgba(255, 255, 255, 0.966);
  font-family: "Spartan", sans-serif;
  background-color: none;
  border-radius: 5px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.089);
  margin-top: 75px;
  width: 50%;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portrait {
  width: 600px;
  transition: 1s;
}

.aboutInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
}

.aboutInfo h2 {
  margin-bottom: -5px;
  font-size: 1.7vw;
  color: black;
  letter-spacing: 1.5px;
  transition: 1s;
}

.aboutInfo h1 {
  margin-bottom: 14px;
  font-size: 2.2vw;
  transition: 1s;
  line-height: 40px;
}

.aboutInfo p {
  letter-spacing: 1.2px;
  line-height: 50px;
  font-size: 1.2vw;
  color: rgb(255, 255, 255);
  transition: 1s;
}

.bottomBorder {
  margin-top: -29px;
  width: 100%;
  background-color: rgba(51, 139, 255, 0);
  height: 100vh;
  transition: 1s;
}

.videosBox {
  margin-top: 50px;
  width: 50%;
}

/* SEMI LARGE PAGE */

@media (max-width: 1500px) {
  .aboutInfo p {
    line-height: 40px;
  }
}

@media (max-width: 1500px) {
  .aboutInfo p {
    line-height: 40px;
  }
}

@media (max-width: 1300px) {
  .bottomBorder {
    display: none;
  }
  .aboutInfo h2 {
    font-size: 1.3em;
    letter-spacing: 1.5px;
  }

  .aboutInfo h1 {
    font-size: 1.5em;
    line-height: 40px;
  }

  .aboutInfo p {
    line-height: 40px;
    font-size: 0.9em;
  }
  .portrait {
    width: 500px;
  }
  .altbody {
    overflow-y: visible;
  }
}

/* TABLET PAGE */

@media (max-width: 949px) {
  .aboutInfo h2 {
    font-size: 1.1em;
    letter-spacing: 1.5px;
  }

  .aboutInfo h1 {
    font-size: 1.3em;
    line-height: 30px;
  }

  .aboutInfo p {
    line-height: 25px;
    font-size: 0.7em;
  }

  .portrait {
    width: 300px;
  }
  .bottomBorder {
    display: none;
  }
  .altbody {
    overflow-y: visible;
  }
}

/* SEMI TABLET */

@media (max-width: 840px) {
  .aboutBlock {
    flex-direction: column;
  }
  .altbody {
    overflow-y: visible;
  }
  .bottomBorder {
    display: none;
  }
  .aboutInfo {
    text-align: center;
  }
}

/* MOBILE PAGE */

@media (max-width: 575px) {
  .aboutBlock {
    width: 90%;
    margin: 0 auto;
  }
}

/* MINT */
.videos-box {
  margin-top: 25px;
  position: absolute;
  width: 200px;
  height: 80px;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  font-size: 1.5em;
  font-family: 'Spartan', sans-serif;
  font-weight: bold;
  padding-top: 1px;
  background-color: rgba(100, 33, 155, 0.849);
  color: rgb(228, 213, 163);
  cursor: pointer;
  border: solid rgba(156, 102, 228, 0.473) 3px;
  transition: 0.5s;
}

.videos-box i {
  color: rgb(180, 110, 245);
  font-size: 1.2em;
  padding: 5px;
  padding-top: 7px;
}

.videos-box:hover {
  background-color: rgb(159, 76, 238);
  transition: 0.5s;
}

.videos-box:before {
  position: absolute;
  top: 0;
  left: -500px;
  content: "";
  width: 120px;
  height: 500px;
  background: rgba(255, 255, 255, 0.6);
  transform: skew(-50deg);
  /* transition: 1s; */
  animation: shine 3s ease infinite;
}

@keyframes shine {
  from {left: -500px;}
  to {left: 655px;}
}
/* .videos-box:hover:before {
  left: 655px;
} */